asgiref==3.8.1
Django==4.2.16
django-extensions==3.2.3
django-livereload-server==0.5.1
djangorestframework==3.15.2
livereload==2.7.0
MarkupSafe==2.1.5
psycopg2-binary==2.9.9
sqlparse==0.5.1
tornado==6.4.1
typing_extensions==4.12.2
Werkzeug==3.0.4
livereload==2.7.0
django-cors-headers==4.4.0
supertokens-python==0.24.3